* {
  box-sizing: border-box;
}

.outer-wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  .window {
    width: 30%;
    height: 50%;
    border: 2px solid black;
    padding: 2%;
    form {
      display: flex;
      flex-direction: column;
      input {
        margin-bottom: 8%;
      }
      .submit-btn {
        width: 35%;
        align-self: flex-end;
        border-radius: 5px;
        padding: 10px 20px;
        background-color: white;
        border: 1px solid black;
        cursor: pointer;
      }
      .submit-btn:hover {
        background-color: black;
        color: white;
      }
      // a {
      //   width: 35%;
      //   align-self: flex-end;
      //   .submit-btn {
      //     border-radius: 5px;
      //     padding: 10px 20px;
      //     background-color: white;
      //     border: 1px solid black;
      //     cursor: pointer;
      //   }
      //   .submit-btn:hover {
      //     background-color: black;
      //     color: white;
      //   }
      // }

    }
  }
}
