* {
  box-sizing: border-box;
}

.outer-wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  .window {
    width: 30%;
    height: 50%;
    border: 2px solid black;
    padding: 2%;
    form {
      display: flex;
      flex-direction: column;
      input {
        margin-bottom: 8%;
      }
    }
  }
}
